@import "bootstrap-sprockets";
@import "bootstrap";

/* Table */

.table {
  td {
    text-align: center;
    font-size: 1em;
    line-height: 1em;
  }
  th {
    text-align: center;
    font-size: 1em;
    line-height: 1em;
  }
}